.design-stripe-container {
  overflow: hidden;
  background-color: orangered;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  animation: infiniteScroll 15s linear infinite;
}

.scroll-items__item {
  white-space: nowrap;
}

.scroll-items img {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}