.dp-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color:var(--background-color-dark);
  background-image: url(../../Assets/dp-bg-noise1.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.dp-subscription {
  position: sticky;
  top: 100px;
  text-align: center;
  z-index: 0;
}

.dp-subscription h2 {
  color: var(--text-color-dark);
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px; */
  /* text-shadow: -1px -1px 0 #ff0000, 1px -1px 0 #ff0000, -1px 1px 0 #ff0000, 1px 1px 0 #ff0000; */
  font-size: 90px;
  font-weight: 800;
}
.dp-subscription p {
  
  font-size: 24px;
  font-weight: 600;
}

.dp-sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.dp-left {

  /* background-color: #287AF5;
  background-color: #e2f759;
  background-color: #c278ff; */
  background-color: var(--primary-color);
  border-radius: 10px;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dp-left h3{
    font-size: 24px;
    padding:5px;
    margin: 10px;
}
.dp-left-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dp-left-list ul li{
    list-style:disc;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}
.dp-mid {
  background-color: #9F26FF;
  background-color: var(--secondary-color);
  color: #fff;
  width: 25%;
  min-width: 300px;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dp-mid-sub-btn{
  text-align: center;
}

.dp-mid-sub-btn h3{

  font-size: 30px;
  margin: 5px;

}

.dp-right {
  background-color:#9F26FF;
  background-color: #ad54f5;
  background-color: var(--primary-color);
  width: 25%;
  min-width: 300px;
  min-height: 400px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.dp-mid a, .dp-right a{
  text-decoration: none;
  color: white;
  
}


.dp-spots-available-text {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dp-sub-btn{
  padding:15px 40px;
  color: #fff;
  background-color: #000;
}
.dp-led-indicator {
  margin: 4px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%; /* Creates a circular shape */
  box-shadow: 0 0 10px #ffffff, 0 0 0 0 #ffffff00; /* Adds a subtle glow and initial shadow */
  animation: rippleFlash 1s infinite;
}

@keyframes rippleFlash {
  0% {
    box-shadow: 0 0 10px #ffffff, 0 0 0 0 #ffffff00; /* Initial and final state */
    opacity: 1; /* Initial and final opacity */
  }
  50% {
    box-shadow: 0 0 10px #ffffff, 0 0 0 8px #ffffff66; /* Max shadow at midpoint */
    opacity: 0.4; /* Opacity at midpoint */
  }
  100% {
    box-shadow: 0 0 10px #ffffff, 0 0 0 1px #ffffff00; /* Initial and final state */
    opacity: 1; /* Initial and final opacity */
  }
}


/* For tablets */
@media only screen and (max-width: 1024px) {
  .dp-container {
    margin: 10px;
    padding: 10px;
    height: auto;
  }
  .dp-subscription h2 {
    font-size: 60px;
  }
  .dp-sub-container{
    flex-wrap: wrap;
  }
  .dp-mid,.dp-right, .dp-left{
    min-width: 300px;
    min-height: 300px;
  }
  /* Adjust other styles as needed */
}
@media only screen and (max-width: 700px) {
  .dp-sub-container{
    flex-wrap:nowrap;
    flex-direction: column;
  }
  .dp-mid,.dp-right, .dp-left{
    width: 100%;
  }
}
/* For mobile */
@media only screen and (max-width: 480px) {
  .dp-container {
    padding: 5px;
    margin: 5px;
    height: auto;
    border-radius: 10px;
  }
  .dp-subscription h2 {
    font-size: 40px;
    
  }
  .dp-subscription p {
    font-size: 18px;
    font-weight: 400;
  }
  
  .dp-sub-container {
    flex-direction: column;
  }
.dp-left, .dp-mid, .dp-right{
  font-size: 18px;
}

.dp-left-list{
 display: block;
 text-align: left;
 
}
}