.design-stripe-container {
  overflow: hidden;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 40px;
}

@keyframes infiniteScroll {
  from {transform: translateX(100%)}
  to {transform: translateX(-80%)}
}

.scroll-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  animation-name: infiniteScroll;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.scroll-items__item {
  white-space: nowrap;
}

.scroll-items img{
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}