.hero-design {
  height: 90vh;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.hero-content-design {
  text-align: center;
  margin: 0 20px 20px; 
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.hero-content-design ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  width: 100%;
  z-index: 10;
}
.hero-content-design ul li {
  height: 50px;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  color: #afaaaa;
}
.bg-star-1, .bg-star-2{
  width:80px;
  height: 80px;
  z-index: 1;
}

.bg-star-1{
  position: absolute;
  top: 200px;
  left: 50px;
}

.bg-star-2{
  position: absolute;
  bottom: 150px;
  right: 100px;
}

.hero-content-design h1 {
  margin: 0 15px 0 15px;
  font-size: 48px;
  z-index: 10;
}

.hero-content-design p {
  margin: 15px;
  font-size: 16px;
  z-index: 10;
}

.hero-button-design {
  background-color: #83e029;
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  box-shadow: 0 0 10px #0000001c;
  z-index: 10;
}
.hero-button-design:hover {
  transform: translateY(-2px);
}

.spots-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spots-available-text {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.led-indicator {
  margin: 4px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: orangered;
  border-radius: 50%; /* Creates a circular shape */
  box-shadow: 0 0 10px orangered; /* Adds a subtle glow */
  animation: flash 01s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  /* Styles for smaller screens (tablets and below) */
  .hero-design {
    height: auto; /* Allow hero section to adjust height */
  }
  .hero-content-design {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    min-height: 500px;
  }

  .hero-content-design h1 {
    font-size: 30px; /* Reduce font size for readability */
  }

  .hero-content-design p {
    font-size: 14px; /* Reduce font size */
  }

  .hero-button-design {
    padding: 10px 15px; /* Adjust padding for smaller buttons */
  }

  .led-indicator {
    width: 8px;
    height: 8px; /* Reduce LED size for smaller screens */
  }
}

@media (max-width: 480px) {
  /* Styles for very small screens (phones) */
  .hero-content-design ul li {
    font-size: 12px; /* Further reduce font size for readability */
  }
}
