.menu {
  background-color: #D4B3F4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 40px;
  padding: 10px;
}

.menu-list {
    
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: azure;
  font-size: 18px;
  font-weight: 600;
}
.logo-design{
  padding: 4px;
  font-size: 24px;
  font-weight: 600;
  margin-right: auto;
}
.menu-item {
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
  display: block; /* Make it a block element for the transform */
  position: relative;
}

.menu-item a:hover {
  color: whitesmoke;
  cursor: pointer;
  transform: translateY(-2px);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .menu-item {
    margin-bottom: 10px;
  }
  .menu-list {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .menu-list {
    font-size: 11px;
  }
}
