.scope-container {
  height: 400px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  background-color: var(--white-bg-color);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scope-container h2 {
  font-size: 24px;
  color: var(--text-color-dark);
  text-align: center;
}

.scope-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.scope-item {
  font-size: 16px;
  color: var(--text-color-light);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  /* background-color: #000; */
}

/* .scope-item:last-child {
    border-bottom: none;
  } */
.scope-item:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
}

.scope-item:nth-child(odd) {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}

@media screen and (max-width: 768px) {
  .scope-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: auto;
  }
  .scope-container h2 {
    margin: 10px;
  }
  .scope-list {
    margin: 10px;
  }
  .scope-item {
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
}
