.section-container{
    height: 100vh;
    background-image: url(../../Assets/Topbg.png);
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 768px){
    .section-container{
        height:350px;
    }
    
}