.hh-container{
    box-sizing: border-box;
    background-color: #a9e6b3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.big-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 500px;
    height: 500px;
    background-color:oldlace;
    border-radius: 10px;
    padding: 10px;
}

.small-boxes{
    width: 500px;
    height: 500px;
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-self:center;
    justify-content: center;
    border-radius: 10px;
}

.small-box{
    width: 245px;
    height: 245px;
    background-color:white;
    margin: auto;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}