.partners-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin: 50px 20px;
}
.partner img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 10px 20px;   
}
@media (max-width: 768px) {
    .partners-container {
        flex-direction: column;
    }
}