.footer-container{
    display: block;
    background-color: black;
    text-align: center;
    margin:50px 0 0 0;
    padding: 10px 0;
    color: orangered;
}


.footer-text{

    font-size:50px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px orangered;
}

