.services-container{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px;   
    overflow: hidden;
}

.services-title p{
    font-size:40px;
    color: transparent;
    -webkit-text-stroke: 2px orangered;
    padding: 10px;
    margin-top: 200px; 
    margin-left: -70px ;
    
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.services-catogary{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin:auto;
    
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 19px;
    text-align: center;
    font-size: 20px;
    max-width: 300px;
    height: 300px;

}
.service-card img{
    width: 100px;
    height: 100px;
    display: none;
}
.service-card h3{
    margin:8px 0;
}

.service-card h3 span{
    color: orangered;
}

.content{
    width: 500px;
    object-fit: contain;
}