
.steps-container{
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction:column;
    /* border: 2px solid yellow; */
    
}

.step-title{
    margin-bottom:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid greenyellow; */
}
.steps-heading{
    color: orangered;
}
.step-description{
    margin-bottom:10px;
    font-size: 16px;
    font-weight: 600;
    /* border: 2px solid magenta; */
}
.arrowhead{
    width: 25px;
    height: 25px;
    margin: 10px;
    /* border: 2px solid mediumaquamarine; */
}

/* process stepsmain*/

.process-container{
    margin: 50px 0px;
    padding: 10px 20px;
    /* border: 2px solid pink; */
   
}
.about-us{
    text-align: left;
    margin:10px 50px;
}
.about-us h4{
    font-size: 40px;
}
.about-us p{
    font-size: 25px;
}
.process-flex{
    background-image:url("../Assets/userflow.png");
    background-position:left;
  background-repeat:no-repeat;
  background-size:contain;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 50px 0;
    /* border: 2px solid black; */
}
.process-title{
    font-size:40px;
    width: 300px;
    height: 50px;
    color: transparent;
    -webkit-text-stroke: 2px orangered;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* border: 2px solid blue; */
    text-align: center;
    margin-right: auto;
    margin-left: -130px;
    
}
.process-steps{
    text-align: center;
    /* border: 2px solid green; */
    border-radius: 19px;
    margin-left:auto;
    width: 50%;
    margin-right:50px;
    
}


.process-img{
    height: 700px;
    
    object-fit: contain;
}