.ratings-container{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 50px 0 ;
    background-color: #ff7c6b;
}
.ratings-container h4{
    margin: 20px;
}

.reviews{
    display: flex;
    align-items:center;
    justify-content:center; 

}

.brand-logo img{
    width:100px;
    height: 100px;
    margin: 15px 20px;
    object-fit: contain;
    /* border: 3px solid orangered; */
    border-radius:19px;
    padding: 5px;
    /* background-color: whitesmoke; */
    background-color: white;
    box-shadow:rgba(39, 45, 56, 0.25) 0px 0px 21px 0px;

}

.brand-logo{
    /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 

-moz-animation: brand-logo 14s linear infinite;
 -webkit-animation: brand-logo 14s linear infinite;
 animation: brand-logo 14s linear infinite ;

}

/* Move it (define the animation) */
@-moz-keyframes brand-logo {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes brand-logo {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes brand-logo {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-400%); /* Browser bug fix */
    -webkit-transform: translateX(-400%); /* Browser bug fix */
    transform: translateX(-400%); 
    }
   }

   @media screen and (max-width: 820px){
    .brand-logo img{
        width:100px;
        height: 100px;
        margin: 10px 10px;
    }

}
