.topbar-container{
    background-color: black;
    color:#E7E7E7;
    font-size: 16px;
    font-weight: 600;
    min-height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.topbar-text{   
    margin: auto;
    text-transform: uppercase;
}

