html{
  max-width: 1400px;
  font-size: 16px;
  margin: auto;
  box-sizing: border-box;
}
body {
  
  font-family: 'Space Grotesk', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1020px) {
  html{
    font-size: 14px
  }
}
@media only screen and (max-width: 500px) {
  html{
    font-size: 10px
  }
}