/* ThemeToggle.css */
.toggle-button {
    position: fixed;
    top: 10px;
   right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 10px;
    z-index: 1000;
  }
  
  .select-theme {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    z-index: 1000;
  }
  
  .select-theme option {
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .option-sunset {
    background-color: #FFA07A; /* Light Salmon */
  }
  
  .option-forest {
    background-color: #98FB98; /* Pale Green */
  }
  
  .option-ocean {
    background-color: #ADD8E6; /* Light Blue */
  }
  
  .option-blush {
    background-color: #FFB6C1; /* Light Pink */
  }
  